<mat-card class="example-card" *ngIf="todo != null">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="text-center">{{todo.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mt-2 note-description">{{todo.description}}</p>
        <section class="example-section">
            <mat-checkbox class="example-margin" [disabled]="true" [checked]="todo.completed">Completed</mat-checkbox>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openEditModal(todo.id)">Edit</button>
        <button mat-raised-button color="warn" (click)="openDeleteModal(todo.id)">Delete</button>
    </mat-card-actions>
</mat-card>