<div class="container-fluid p-3">
    <h5 class="text-center">Todos</h5>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 mb-3">
                <app-todo></app-todo>
            </div>
            <div class="col-md-4 mb-3">
                <app-todo></app-todo>
            </div>
            <div class="col-md-4 mb-3">
                <app-todo></app-todo>
            </div>
            <div class="col-md-4 mb-3">
                <app-todo></app-todo>
            </div>
            <div class="col-md-4 mb-3">
                <app-todo></app-todo>
            </div>
        </div>
    </div>
</div>